<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col col-3 pt-7 ps-7 pe-8 bg-light vh-100 d-flex flex-column justify-content-start">
      <h1 class="mb-7"><a href="index.html" class="text-nowrap"><img src="./assets/images/logo-ANSWER.svg" alt="logo"></a></h1>
      <ul class="nav flex-column">
        <li class="lh-base">
          <a class="text-decoration-none text-dark text-nowrap py-3 d-block" href="#"><span class="material-icons align-middle me-4">assessment</span> Dashboard</a>
        </li>
        <li class="lh-base">
          <a class="text-decoration-none text-dark text-nowrap py-3 d-block" href="#"><span class="material-icons align-middle me-4">question_answer</span> Question</a>
        </li>
        <li class="lh-base">
          <a class="text-decoration-none text-dark text-nowrap py-3 d-block" href="#"><span class="material-icons align-middle me-4">assignment</span> Assignment</a>
        </li>
        <li class="lh-base">
          <a class="text-decoration-none text-dark text-nowrap py-3 d-block" href="admin.html"><span class="material-icons align-middle me-4">group</span> Admin</a>
        </li>
        <li class="lh-base">
        </li>
        <li class="lh-base">
          <a class="text-decoration-none text-dark text-nowrap py-3 d-block" href="#"><span class="material-icons align-middle me-4">settings</span> Settings</a>
        </li>
      </ul>
      <div class="user-card mt-auto mb-7">
        <div class="user-card-image">
          <img src="./assets/images/andychen.jpeg" alt="">
        </div>
        <div class="user-card-content">
          <span class="text-dark">Andy Chen</span>
          <span><a href="mailto:andy0401@mail.com"  class="text-decoration-none link-secondary">andy0401@mail.com</a></span>
        </div>
      </div>
    </div>
    <div class="col col-8">
      <%- contents %>
    </div>
  </div>
</div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
